.clock {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
    margin: 50px auto 0;
    transform: rotate(180deg);
}

.hand {
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center bottom;
}

.hour-hand {
    width: 4px;
    height: 60px;
    margin-left: -2px;
    margin-top: -60px;
}

.minute-hand {
    width: 2px;
    height: 80px;
    margin-left: -1px;
    margin-top: -80px;
}

.second-hand {
    width: 1px;
    height: 90px;
    margin-left: -0.5px;
    margin-top: -90px;
    background-color: #f00;
}

.markings {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: -50%;
    margin-left: -50%;
}

.marking {
    color: #000;
    position: absolute;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hour-marking {
    width: 1px;
    height: 12px;
    background-color: #000;
}